.mt-50 {
    margin-top: 50px;
}

.p-l-0 {
    padding-left: 0;
}

.bgc {
    background-color: #F2F2F2;
}

.p-t-b-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.p-0 {
    padding: 0;
}

.mt-30 {
    margin-top: 30px;
}

.c-p {
    cursor: pointer;
}

.mb-50 {
    margin-bottom: 40px;
}